# Deleting an dinserting data in dataframe

In [1]:
import pandas as pd

### getting this from (https://fakestoreapi.com/products/)   its an fake store api

In [2]:
fakestore = [
{
"id": 1,
"title": "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
"price": 109.95,
"description": "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
"category": "men's clothing",
"image": "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
"rating": {
"rate": 3.9,
"count": 120
}
},
{
"id": 2,
"title": "Mens Casual Premium Slim Fit T-Shirts ",
"price": 22.3,
"description": "Slim-fitting style, contrast raglan long sleeve, three-button henley placket, light weight & soft fabric for breathable and comfortable wearing. And Solid stitched shirts with round neck made for durability and a great fit for casual fashion wear and diehard baseball fans. The Henley style round neckline includes a three-button placket.",
"category": "men's clothing",
"image": "https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg",
"rating": {
"rate": 4.1,
"count": 259
}
},
{
"id": 3,
"title": "Mens Cotton Jacket",
"price": 55.99,
"description": "great outerwear jackets for Spring/Autumn/Winter, suitable for many occasions, such as working, hiking, camping, mountain/rock climbing, cycling, traveling or other outdoors. Good gift choice for you or your family member. A warm hearted love to Father, husband or son in this thanksgiving or Christmas Day.",
"category": "men's clothing",
"image": "https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg",
"rating": {
"rate": 4.7,
"count": 500
}
},
{
"id": 4,
"title": "Mens Casual Slim Fit",
"price": 15.99,
"description": "The color could be slightly different between on the screen and in practice. / Please note that body builds vary by person, therefore, detailed size information should be reviewed below on the product description.",
"category": "men's clothing",
"image": "https://fakestoreapi.com/img/71YXzeOuslL._AC_UY879_.jpg",
"rating": {
"rate": 2.1,
"count": 430
}
},
{
"id": 5,
"title": "John Hardy Women's Legends Naga Gold & Silver Dragon Station Chain Bracelet",
"price": 695,
"description": "From our Legends Collection, the Naga was inspired by the mythical water dragon that protects the ocean's pearl. Wear facing inward to be bestowed with love and abundance, or outward for protection.",
"category": "jewelery",
"image": "https://fakestoreapi.com/img/71pWzhdJNwL._AC_UL640_QL65_ML3_.jpg",
"rating": {
"rate": 4.6,
"count": 400
}
},
{
"id": 6,
"title": "Solid Gold Petite Micropave ",
"price": 168,
"description": "Satisfaction Guaranteed. Return or exchange any order within 30 days.Designed and sold by Hafeez Center in the United States. Satisfaction Guaranteed. Return or exchange any order within 30 days.",
"category": "jewelery",
"image": "https://fakestoreapi.com/img/61sbMiUnoGL._AC_UL640_QL65_ML3_.jpg",
"rating": {
"rate": 3.9,
"count": 70
}
},
{
"id": 7,
"title": "White Gold Plated Princess",
"price": 9.99,
"description": "Classic Created Wedding Engagement Solitaire Diamond Promise Ring for Her. Gifts to spoil your love more for Engagement, Wedding, Anniversary, Valentine's Day...",
"category": "jewelery",
"image": "https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg",
"rating": {
"rate": 3,
"count": 400
}
},
{
"id": 8,
"title": "Pierced Owl Rose Gold Plated Stainless Steel Double",
"price": 10.99,
"description": "Rose Gold Plated Double Flared Tunnel Plug Earrings. Made of 316L Stainless Steel",
"category": "jewelery",
"image": "https://fakestoreapi.com/img/51UDEzMJVpL._AC_UL640_QL65_ML3_.jpg",
"rating": {
"rate": 1.9,
"count": 100
}
},
{
"id": 9,
"title": "WD 2TB Elements Portable External Hard Drive - USB 3.0 ",
"price": 64,
"description": "USB 3.0 and USB 2.0 Compatibility Fast data transfers Improve PC Performance High Capacity; Compatibility Formatted NTFS for Windows 10, Windows 8.1, Windows 7; Reformatting may be required for other operating systems; Compatibility may vary depending on user’s hardware configuration and operating system",
"category": "electronics",
"image": "https://fakestoreapi.com/img/61IBBVJvSDL._AC_SY879_.jpg",
"rating": {
"rate": 3.3,
"count": 203
}
},
{
"id": 10,
"title": "SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s",
"price": 109,
"description": "Easy upgrade for faster boot up, shutdown, application load and response (As compared to 5400 RPM SATA 2.5” hard drive; Based on published specifications and internal benchmarking tests using PCMark vantage scores) Boosts burst write performance, making it ideal for typical PC workloads The perfect balance of performance and reliability Read/write speeds of up to 535MB/s/450MB/s (Based on internal testing; Performance may vary depending upon drive capacity, host device, OS and application.)",
"category": "electronics",
"image": "https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg",
"rating": {
"rate": 2.9,
"count": 470
}
},
{
"id": 11,
"title": "Silicon Power 256GB SSD 3D NAND A55 SLC Cache Performance Boost SATA III 2.5",
"price": 109,
"description": "3D NAND flash are applied to deliver high transfer speeds Remarkable transfer speeds that enable faster bootup and improved overall system performance. The advanced SLC Cache Technology allows performance boost and longer lifespan 7mm slim design suitable for Ultrabooks and Ultra-slim notebooks. Supports TRIM command, Garbage Collection technology, RAID, and ECC (Error Checking & Correction) to provide the optimized performance and enhanced reliability.",
"category": "electronics",
"image": "https://fakestoreapi.com/img/71kWymZ+c+L._AC_SX679_.jpg",
"rating": {
"rate": 4.8,
"count": 319
}
},
{
"id": 12,
"title": "WD 4TB Gaming Drive Works with Playstation 4 Portable External Hard Drive",
"price": 114,
"description": "Expand your PS4 gaming experience, Play anywhere Fast and easy, setup Sleek design with high capacity, 3-year manufacturer's limited warranty",
"category": "electronics",
"image": "https://fakestoreapi.com/img/61mtL65D4cL._AC_SX679_.jpg",
"rating": {
"rate": 4.8,
"count": 400
}
},
{
"id": 13,
"title": "Acer SB220Q bi 21.5 inches Full HD (1920 x 1080) IPS Ultra-Thin",
"price": 599,
"description": "21. 5 inches Full HD (1920 x 1080) widescreen IPS display And Radeon free Sync technology. No compatibility for VESA Mount Refresh Rate: 75Hz - Using HDMI port Zero-frame design | ultra-thin | 4ms response time | IPS panel Aspect ratio - 16: 9. Color Supported - 16. 7 million colors. Brightness - 250 nit Tilt angle -5 degree to 15 degree. Horizontal viewing angle-178 degree. Vertical viewing angle-178 degree 75 hertz",
"category": "electronics",
"image": "https://fakestoreapi.com/img/81QpkIctqPL._AC_SX679_.jpg",
"rating": {
"rate": 2.9,
"count": 250
}
},
{
"id": 14,
"title": "Samsung 49-Inch CHG90 144Hz Curved Gaming Monitor (LC49HG90DMNXZA) – Super Ultrawide Screen QLED ",
"price": 999.99,
"description": "49 INCH SUPER ULTRAWIDE 32:9 CURVED GAMING MONITOR with dual 27 inch screen side by side QUANTUM DOT (QLED) TECHNOLOGY, HDR support and factory calibration provides stunningly realistic and accurate color and contrast 144HZ HIGH REFRESH RATE and 1ms ultra fast response time work to eliminate motion blur, ghosting, and reduce input lag",
"category": "electronics",
"image": "https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg",
"rating": {
"rate": 2.2,
"count": 140
}
},
{
"id": 15,
"title": "BIYLACLESEN Women's 3-in-1 Snowboard Jacket Winter Coats",
"price": 56.99,
"description": "Note:The Jackets is US standard size, Please choose size as your usual wear Material: 100% Polyester; Detachable Liner Fabric: Warm Fleece. Detachable Functional Liner: Skin Friendly, Lightweigt and Warm.Stand Collar Liner jacket, keep you warm in cold weather. Zippered Pockets: 2 Zippered Hand Pockets, 2 Zippered Pockets on Chest (enough to keep cards or keys)and 1 Hidden Pocket Inside.Zippered Hand Pockets and Hidden Pocket keep your things secure. Humanized Design: Adjustable and Detachable Hood and Adjustable cuff to prevent the wind and water,for a comfortable fit. 3 in 1 Detachable Design provide more convenience, you can separate the coat and inner as needed, or wear it together. It is suitable for different season and help you adapt to different climates",
"category": "women's clothing",
"image": "https://fakestoreapi.com/img/51Y5NI-I5jL._AC_UX679_.jpg",
"rating": {
"rate": 2.6,
"count": 235
}
},
{
"id": 16,
"title": "Lock and Love Women's Removable Hooded Faux Leather Moto Biker Jacket",
"price": 29.95,
"description": "100% POLYURETHANE(shell) 100% POLYESTER(lining) 75% POLYESTER 25% COTTON (SWEATER), Faux leather material for style and comfort / 2 pockets of front, 2-For-One Hooded denim style faux leather jacket, Button detail on waist / Detail stitching at sides, HAND WASH ONLY / DO NOT BLEACH / LINE DRY / DO NOT IRON",
"category": "women's clothing",
"image": "https://fakestoreapi.com/img/81XH0e8fefL._AC_UY879_.jpg",
"rating": {
"rate": 2.9,
"count": 340
}
},
{
"id": 17,
"title": "Rain Jacket Women Windbreaker Striped Climbing Raincoats",
"price": 39.99,
"description": "Lightweight perfet for trip or casual wear---Long sleeve with hooded, adjustable drawstring waist design. Button and zipper front closure raincoat, fully stripes Lined and The Raincoat has 2 side pockets are a good size to hold all kinds of things, it covers the hips, and the hood is generous but doesn't overdo it.Attached Cotton Lined Hood with Adjustable Drawstrings give it a real styled look.",
"category": "women's clothing",
"image": "https://fakestoreapi.com/img/71HblAHs5xL._AC_UY879_-2.jpg",
"rating": {
"rate": 3.8,
"count": 679
}
}]

### creating data frame of this store data

In [3]:
storedata = pd.DataFrame(fakestore)
storedata

,id,title,price,description,category,image,rating
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...,"{'rate': 3.9, 'count': 120}"
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,"Slim-fitting style, contrast raglan long sleev...",men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...,"{'rate': 4.1, 'count': 259}"
2,3,Mens Cotton Jacket,55.99,great outerwear jackets for Spring/Autumn/Wint...,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...,"{'rate': 4.7, 'count': 500}"
3,4,Mens Casual Slim Fit,15.99,The color could be slightly different between ...,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...,"{'rate': 2.1, 'count': 430}"
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,"From our Legends Collection, the Naga was insp...",jewelery,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...,"{'rate': 4.6, 'count': 400}"
5,6,Solid Gold Petite Micropave,168.00,Satisfaction Guaranteed. Return or exchange an...,jewelery,https://fakestoreapi.com/img/61sbMiUnoGL._AC_U...,"{'rate': 3.9, 'count': 70}"
6,7,White Gold Plated Princess,9.99,Classic Created Wedding Engagement Solitaire D...,jewelery,https://fakestoreapi.com/img/71YAIFU48IL._AC_U...,"{'rate': 3, 'count': 400}"
7,8,Pierced Owl Rose Gold Plated Stainless Steel D...,10.99,Rose Gold Plated Double Flared Tunnel Plug Ear...,jewelery,https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...,"{'rate': 1.9, 'count': 100}"
8,9,WD 2TB Elements Portable External Hard Drive -...,64.00,USB 3.0 and USB 2.0 Compatibility Fast data tr...,electronics,https://fakestoreapi.com/img/61IBBVJvSDL._AC_S...,"{'rate': 3.3, 'count': 203}"
9,10,SanDisk SSD PLUS 1TB Internal SSD - SATA III 6...,109.00,"Easy upgrade for faster boot up, shutdown, app...",electronics,https://fakestoreapi.com/img/61U7T1koQqL._AC_S...,"{'rate': 2.9, 'count': 470}"
10,11,Silicon Power 256GB SSD 3D NAND A55 SLC Cache ...,109.00,3D NAND flash are applied to deliver high tran...,electronics,https://fakestoreapi.com/img/71kWymZ+c+L._AC_S...,"{'rate': 4.8, 'count': 319}"
11,12,WD 4TB Gaming Drive Works with Playstation 4 P...,114.00,"Expand your PS4 gaming experience, Play anywhe...",electronics,https://fakestoreapi.com/img/61mtL65D4cL._AC_S...,"{'rate': 4.8, 'count': 400}"
12,13,Acer SB220Q bi 21.5 inches Full HD (1920 x 108...,599.00,21. 5 inches Full HD (1920 x 1080) widescreen ...,electronics,https://fakestoreapi.com/img/81QpkIctqPL._AC_S...,"{'rate': 2.9, 'count': 250}"
13,14,Samsung 49-Inch CHG90 144Hz Curved Gaming Moni...,999.99,49 INCH SUPER ULTRAWIDE 32:9 CURVED GAMING MON...,electronics,https://fakestoreapi.com/img/81Zt42ioCgL._AC_S...,"{'rate': 2.2, 'count': 140}"
14,15,BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...,56.99,"Note:The Jackets is US standard size, Please c...",women's clothing,https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...,"{'rate': 2.6, 'count': 235}"
15,16,Lock and Love Women's Removable Hooded Faux Le...,29.95,100% POLYURETHANE(shell) 100% POLYESTER(lining...,women's clothing,https://fakestoreapi.com/img/81XH0e8fefL._AC_U...,"{'rate': 2.9, 'count': 340}"
16,17,Rain Jacket Women Windbreaker Striped Climbing...,39.99,Lightweight perfet for trip or casual wear---L...,women's clothing,https://fakestoreapi.com/img/71HblAHs5xL._AC_U...,"{'rate': 3.8, 'count': 679}"

# first we will  see how can we delete data from data

In [4]:
#first using drop():   

storedata.drop(columns=["image"] , inplace = True)  # it will only delete Column

In [5]:
storedata

,id,title,price,description,category,rating
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,men's clothing,"{'rate': 3.9, 'count': 120}"
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,"Slim-fitting style, contrast raglan long sleev...",men's clothing,"{'rate': 4.1, 'count': 259}"
2,3,Mens Cotton Jacket,55.99,great outerwear jackets for Spring/Autumn/Wint...,men's clothing,"{'rate': 4.7, 'count': 500}"
3,4,Mens Casual Slim Fit,15.99,The color could be slightly different between ...,men's clothing,"{'rate': 2.1, 'count': 430}"
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,"From our Legends Collection, the Naga was insp...",jewelery,"{'rate': 4.6, 'count': 400}"
5,6,Solid Gold Petite Micropave,168.00,Satisfaction Guaranteed. Return or exchange an...,jewelery,"{'rate': 3.9, 'count': 70}"
6,7,White Gold Plated Princess,9.99,Classic Created Wedding Engagement Solitaire D...,jewelery,"{'rate': 3, 'count': 400}"
7,8,Pierced Owl Rose Gold Plated Stainless Steel D...,10.99,Rose Gold Plated Double Flared Tunnel Plug Ear...,jewelery,"{'rate': 1.9, 'count': 100}"
8,9,WD 2TB Elements Portable External Hard Drive -...,64.00,USB 3.0 and USB 2.0 Compatibility Fast data tr...,electronics,"{'rate': 3.3, 'count': 203}"
9,10,SanDisk SSD PLUS 1TB Internal SSD - SATA III 6...,109.00,"Easy upgrade for faster boot up, shutdown, app...",electronics,"{'rate': 2.9, 'count': 470}"
10,11,Silicon Power 256GB SSD 3D NAND A55 SLC Cache ...,109.00,3D NAND flash are applied to deliver high tran...,electronics,"{'rate': 4.8, 'count': 319}"
11,12,WD 4TB Gaming Drive Works with Playstation 4 P...,114.00,"Expand your PS4 gaming experience, Play anywhe...",electronics,"{'rate': 4.8, 'count': 400}"
12,13,Acer SB220Q bi 21.5 inches Full HD (1920 x 108...,599.00,21. 5 inches Full HD (1920 x 1080) widescreen ...,electronics,"{'rate': 2.9, 'count': 250}"
13,14,Samsung 49-Inch CHG90 144Hz Curved Gaming Moni...,999.99,49 INCH SUPER ULTRAWIDE 32:9 CURVED GAMING MON...,electronics,"{'rate': 2.2, 'count': 140}"
14,15,BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...,56.99,"Note:The Jackets is US standard size, Please c...",women's clothing,"{'rate': 2.6, 'count': 235}"
15,16,Lock and Love Women's Removable Hooded Faux Le...,29.95,100% POLYURETHANE(shell) 100% POLYESTER(lining...,women's clothing,"{'rate': 2.9, 'count': 340}"
16,17,Rain Jacket Women Windbreaker Striped Climbing...,39.99,Lightweight perfet for trip or casual wear---L...,women's clothing,"{'rate': 3.8, 'count': 679}"

# now we can delete multiple columns with  drop

In [6]:
storedata.drop(columns = ["description","title"] , inplace = True)

In [7]:
storedata

    id   price          category                       rating
0    1  109.95    men's clothing  {'rate': 3.9, 'count': 120}
1    2   22.30    men's clothing  {'rate': 4.1, 'count': 259}
2    3   55.99    men's clothing  {'rate': 4.7, 'count': 500}
3    4   15.99    men's clothing  {'rate': 2.1, 'count': 430}
4    5  695.00          jewelery  {'rate': 4.6, 'count': 400}
5    6  168.00          jewelery   {'rate': 3.9, 'count': 70}
6    7    9.99          jewelery    {'rate': 3, 'count': 400}
7    8   10.99          jewelery  {'rate': 1.9, 'count': 100}
8    9   64.00       electronics  {'rate': 3.3, 'count': 203}
9   10  109.00       electronics  {'rate': 2.9, 'count': 470}
10  11  109.00       electronics  {'rate': 4.8, 'count': 319}
11  12  114.00       electronics  {'rate': 4.8, 'count': 400}
12  13  599.00       electronics  {'rate': 2.9, 'count': 250}
13  14  999.99       electronics  {'rate': 2.2, 'count': 140}
14  15   56.99  women's clothing  {'rate': 2.6, 'count': 235}
15  16   29.95  women's clothing  {'rate': 2.9, 'count': 340}
16  17   39.99  women's clothing  {'rate': 3.8, 'count': 679}

##  Delete Rows: Using drop():

In [8]:
storedata.drop(index = [2,4,6,9,3] , inplace = True )

In [9]:
storedata

    id   price          category                       rating
0    1  109.95    men's clothing  {'rate': 3.9, 'count': 120}
1    2   22.30    men's clothing  {'rate': 4.1, 'count': 259}
5    6  168.00          jewelery   {'rate': 3.9, 'count': 70}
7    8   10.99          jewelery  {'rate': 1.9, 'count': 100}
8    9   64.00       electronics  {'rate': 3.3, 'count': 203}
10  11  109.00       electronics  {'rate': 4.8, 'count': 319}
11  12  114.00       electronics  {'rate': 4.8, 'count': 400}
12  13  599.00       electronics  {'rate': 2.9, 'count': 250}
13  14  999.99       electronics  {'rate': 2.2, 'count': 140}
14  15   56.99  women's clothing  {'rate': 2.6, 'count': 235}
15  16   29.95  women's clothing  {'rate': 2.9, 'count': 340}
16  17   39.99  women's clothing  {'rate': 3.8, 'count': 679}

In [10]:
# df = df.drop_duplicates   # it will drop all duplicated rows in data

# now we will understand the inserting , adding , updating data

### inserting direct data with new values  [   ] in Columns

In [11]:
storedata["new_column"] = [11,12,13,14,15,16,17,18,19,10,21,22]
storedata

    id   price          category                       rating  new_column
0    1  109.95    men's clothing  {'rate': 3.9, 'count': 120}          11
1    2   22.30    men's clothing  {'rate': 4.1, 'count': 259}          12
5    6  168.00          jewelery   {'rate': 3.9, 'count': 70}          13
7    8   10.99          jewelery  {'rate': 1.9, 'count': 100}          14
8    9   64.00       electronics  {'rate': 3.3, 'count': 203}          15
10  11  109.00       electronics  {'rate': 4.8, 'count': 319}          16
11  12  114.00       electronics  {'rate': 4.8, 'count': 400}          17
12  13  599.00       electronics  {'rate': 2.9, 'count': 250}          18
13  14  999.99       electronics  {'rate': 2.2, 'count': 140}          19
14  15   56.99  women's clothing  {'rate': 2.6, 'count': 235}          10
15  16   29.95  women's clothing  {'rate': 2.9, 'count': 340}          21
16  17   39.99  women's clothing  {'rate': 3.8, 'count': 679}          22

## now with the help of insert()  method in Columns

In [25]:
storedata.insert(loc= 3 , column = "new_column_2" , value= [12 , 34,31,49,50,63,71,89,90,21,32,22])

In [26]:
storedata

,id,price,category,new_column_2,rating,new_column
0,1,109.95,men's clothing,12,"{'rate': 3.9, 'count': 120}",11
1,2,22.30,men's clothing,34,"{'rate': 4.1, 'count': 259}",12
5,6,168.00,jewelery,31,"{'rate': 3.9, 'count': 70}",13
7,8,10.99,jewelery,49,"{'rate': 1.9, 'count': 100}",14
8,9,64.00,electronics,50,"{'rate': 3.3, 'count': 203}",15
10,11,109.00,electronics,63,"{'rate': 4.8, 'count': 319}",16
11,12,114.00,electronics,71,"{'rate': 4.8, 'count': 400}",17
12,13,599.00,electronics,89,"{'rate': 2.9, 'count': 250}",18
13,14,999.99,electronics,90,"{'rate': 2.2, 'count': 140}",19
14,15,56.99,women's clothing,21,"{'rate': 2.6, 'count': 235}",10
15,16,29.95,women's clothing,32,"{'rate': 2.9, 'count': 340}",21
16,17,39.99,women's clothing,22,"{'rate': 3.8, 'count': 679}",22

# now  insert data in raw with  the help of loc and iloc

In [28]:
storedata.loc[4] = [222222,3333,44444,55555,66666,7777]

In [29]:
storedata

,id,price,category,new_column_2,rating,new_column
0,1,109.95,men's clothing,12,"{'rate': 3.9, 'count': 120}",11
1,2,22.30,men's clothing,34,"{'rate': 4.1, 'count': 259}",12
5,6,168.00,jewelery,31,"{'rate': 3.9, 'count': 70}",13
7,8,10.99,jewelery,49,"{'rate': 1.9, 'count': 100}",14
8,9,64.00,electronics,50,"{'rate': 3.3, 'count': 203}",15
10,11,109.00,electronics,63,"{'rate': 4.8, 'count': 319}",16
11,12,114.00,electronics,71,"{'rate': 4.8, 'count': 400}",17
12,13,599.00,electronics,89,"{'rate': 2.9, 'count': 250}",18
13,14,999.99,electronics,90,"{'rate': 2.2, 'count': 140}",19
14,15,56.99,women's clothing,21,"{'rate': 2.6, 'count': 235}",10
15,16,29.95,women's clothing,32,"{'rate': 2.9, 'count': 340}",21
16,17,39.99,women's clothing,22,"{'rate': 3.8, 'count': 679}",22
4,222222,3333.00,44444,55555,66666,7777

In [30]:
storedata.iloc[4] = [222222,3333,44444,55555,66666,7777]

In [31]:
storedata

,id,price,category,new_column_2,rating,new_column
0,1,109.95,men's clothing,12,"{'rate': 3.9, 'count': 120}",11
1,2,22.30,men's clothing,34,"{'rate': 4.1, 'count': 259}",12
5,6,168.00,jewelery,31,"{'rate': 3.9, 'count': 70}",13
7,8,10.99,jewelery,49,"{'rate': 1.9, 'count': 100}",14
8,222222,3333.00,44444,55555,66666,7777
10,11,109.00,electronics,63,"{'rate': 4.8, 'count': 319}",16
11,12,114.00,electronics,71,"{'rate': 4.8, 'count': 400}",17
12,13,599.00,electronics,89,"{'rate': 2.9, 'count': 250}",18
13,14,999.99,electronics,90,"{'rate': 2.2, 'count': 140}",19
14,15,56.99,women's clothing,21,"{'rate': 2.6, 'count': 235}",10
15,16,29.95,women's clothing,32,"{'rate': 2.9, 'count': 340}",21
16,17,39.99,women's clothing,22,"{'rate': 3.8, 'count': 679}",22
4,222222,3333.00,44444,55555,66666,7777