# Arithematic operation in data frame

In [2]:
import pandas as pd

In [4]:
# lets create a data frame
sales = { "2017" : [2,6,8,5,11,5,7,5,4,7,45,7,4,6,4,7,5,3,8,9,1,6,4,2,56,8,1] ,
         "2018" :[34,67,1,1,6,9,7,5,4,71,45,71,4,69,41,7,5,3,8,10,11,96,4,2,56,8,34]
        }
dataframe = pd.DataFrame(sales)
dataframe

    2017  2018
0      2    34
1      6    67
2      8     1
3      5     1
4     11     6
5      5     9
6      7     7
7      5     5
8      4     4
9      7    71
10    45    45
11     7    71
12     4     4
13     6    69
14     4    41
15     7     7
16     5     5
17     3     3
18     8     8
19     9    10
20     1    11
21     6    96
22     4     4
23     2     2
24    56    56
25     8     8
26     1    34

# addition of two columns

In [10]:
# now we wil perfrom addition of two  columns and then save it in new columns
dataframe["addition"] = dataframe["2017"]+ dataframe["2018"]
dataframe

    2017  2018  addition
0      2    34        36
1      6    67        73
2      8     1         9
3      5     1         6
4     11     6        17
5      5     9        14
6      7     7        14
7      5     5        10
8      4     4         8
9      7    71        78
10    45    45        90
11     7    71        78
12     4     4         8
13     6    69        75
14     4    41        45
15     7     7        14
16     5     5        10
17     3     3         6
18     8     8        16
19     9    10        19
20     1    11        12
21     6    96       102
22     4     4         8
23     2     2         4
24    56    56       112
25     8     8        16
26     1    34        35

# substraction of two Columns

In [12]:
# now we wil perfrom substraction of two  columns and then save it in new columns
dataframe["substraction"] = dataframe["2017"]- dataframe["2018"]
dataframe

    2017  2018  addition  substraction
0      2    34        36           -32
1      6    67        73           -61
2      8     1         9             7
3      5     1         6             4
4     11     6        17             5
5      5     9        14            -4
6      7     7        14             0
7      5     5        10             0
8      4     4         8             0
9      7    71        78           -64
10    45    45        90             0
11     7    71        78           -64
12     4     4         8             0
13     6    69        75           -63
14     4    41        45           -37
15     7     7        14             0
16     5     5        10             0
17     3     3         6             0
18     8     8        16             0
19     9    10        19            -1
20     1    11        12           -10
21     6    96       102           -90
22     4     4         8             0
23     2     2         4             0
24    56    56       112             0
25     8     8        16             0
26     1    34        35           -33

# Multiplication  of two Columns

In [14]:
# now we wil perfrom multiplication of two  columns and then save it in new columns
dataframe["multiplication"] = dataframe["2017"]* dataframe["2018"]
dataframe

    2017  2018  addition  substraction  multiplication
0      2    34        36           -32              68
1      6    67        73           -61             402
2      8     1         9             7               8
3      5     1         6             4               5
4     11     6        17             5              66
5      5     9        14            -4              45
6      7     7        14             0              49
7      5     5        10             0              25
8      4     4         8             0              16
9      7    71        78           -64             497
10    45    45        90             0            2025
11     7    71        78           -64             497
12     4     4         8             0              16
13     6    69        75           -63             414
14     4    41        45           -37             164
15     7     7        14             0              49
16     5     5        10             0              25
17     3     3         6             0               9
18     8     8        16             0              64
19     9    10        19            -1              90
20     1    11        12           -10              11
21     6    96       102           -90             576
22     4     4         8             0              16
23     2     2         4             0               4
24    56    56       112             0            3136
25     8     8        16             0              64
26     1    34        35           -33              34

# Division of two Columns

In [17]:
# now we wil perfrom multiplication of two  columns and then save it in new columns  (with decimal points)
dataframe["division"] = dataframe["2018"] /dataframe["2017"]   # changing Columns 
dataframe

    2017  2018  addition  substraction  multiplication   division
0      2    34        36           -32              68  17.000000
1      6    67        73           -61             402  11.166667
2      8     1         9             7               8   0.125000
3      5     1         6             4               5   0.200000
4     11     6        17             5              66   0.545455
5      5     9        14            -4              45   1.800000
6      7     7        14             0              49   1.000000
7      5     5        10             0              25   1.000000
8      4     4         8             0              16   1.000000
9      7    71        78           -64             497  10.142857
10    45    45        90             0            2025   1.000000
11     7    71        78           -64             497  10.142857
12     4     4         8             0              16   1.000000
13     6    69        75           -63             414  11.500000
14     4    41        45           -37             164  10.250000
15     7     7        14             0              49   1.000000
16     5     5        10             0              25   1.000000
17     3     3         6             0               9   1.000000
18     8     8        16             0              64   1.000000
19     9    10        19            -1              90   1.111111
20     1    11        12           -10              11  11.000000
21     6    96       102           -90             576  16.000000
22     4     4         8             0              16   1.000000
23     2     2         4             0               4   1.000000
24    56    56       112             0            3136   1.000000
25     8     8        16             0              64   1.000000
26     1    34        35           -33              34  34.000000

In [19]:
# now we wil perfrom multiplication of two  columns and then save it in new columns  (without decimal points)
dataframe["division_2"] = dataframe["2018"] //dataframe["2017"]   # changing Columns 
dataframe

    2017  2018  addition  substraction  multiplication   division  division_2
0      2    34        36           -32              68  17.000000          17
1      6    67        73           -61             402  11.166667          11
2      8     1         9             7               8   0.125000           0
3      5     1         6             4               5   0.200000           0
4     11     6        17             5              66   0.545455           0
5      5     9        14            -4              45   1.800000           1
6      7     7        14             0              49   1.000000           1
7      5     5        10             0              25   1.000000           1
8      4     4         8             0              16   1.000000           1
9      7    71        78           -64             497  10.142857          10
10    45    45        90             0            2025   1.000000           1
11     7    71        78           -64             497  10.142857          10
12     4     4         8             0              16   1.000000           1
13     6    69        75           -63             414  11.500000          11
14     4    41        45           -37             164  10.250000          10
15     7     7        14             0              49   1.000000           1
16     5     5        10             0              25   1.000000           1
17     3     3         6             0               9   1.000000           1
18     8     8        16             0              64   1.000000           1
19     9    10        19            -1              90   1.111111           1
20     1    11        12           -10              11  11.000000          11
21     6    96       102           -90             576  16.000000          16
22     4     4         8             0              16   1.000000           1
23     2     2         4             0               4   1.000000           1
24    56    56       112             0            3136   1.000000           1
25     8     8        16             0              64   1.000000           1
26     1    34        35           -33              34  34.000000          34

# Squaring of one Column with another Column

In [22]:
#in this i am gonna Square of  one Column with the value of another Column
dataframe["2017"]**dataframe["2018"]

0             17179869184
1                       0
2                       8
3                       5
4                 1771561
5                 1953125
6                  823543
7                    3125
8                     256
9     1778050923357760247
10    2604998672350111773
11    1778050923357760247
12                    256
13                      0
14                      0
15                 823543
16                   3125
17                     27
18               16777216
19             3486784401
20                      1
21                      0
22                    256
23                      4
24                      0
25               16777216
26                      1
dtype: int64